@model HIT339_Assign2.Models.ScheduleViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Schedule</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SingleSchedule.Eventname)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SingleSchedule.Eventname)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SingleSchedule.Duration)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SingleSchedule.Duration)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SingleSchedule.Coach)
        </dt>
        <dd class="col-sm-10">
            Myself
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SingleSchedule.Location)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SingleSchedule.Location)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SingleSchedule.Eventdatetime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SingleSchedule.Eventdatetime)
        </dd>
    </dl>
</div>

<h3>Enroled Members</h3>


<table class="table">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model.Members)
        {
            <tr>
                @foreach (var enrol in Model.Enrolments)
                {
                    if (enrol.ScheduleId == Model.SingleSchedule.Id)
                    {
                        if (user.Id == enrol.UserId)
                        {
                            <td>@user.Fname</td>
                            <td>@user.Lname</td>
                        }
                    }
                }
            </tr>
        }
    </tbody>
</table>