@model HIT339_Assign2.Models.ScheduleViewModel

@{
    ViewData["Title"] = "Schedule";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@if (ViewBag.Role == "Coach")
{
    <h1>My Schedules</h1>
}
else
{
    <h1>All Schedules</h1>
}

@if (ViewBag.Role == "Admin")
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}

<table class="table">
    <thead>
        <tr>
            <th>
                Event
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Schedules[0].Coach)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Schedules[0].Location)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Schedules[0].Duration)
            </th>
            <th>
                Date and Time of event
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Schedules)
        {

        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Eventname)
            </td>

            @foreach (var coach in Model.coaches)
            {
                @if (coach.Id == item.Coach)
                {
                <td>
                    <a href="~/Role/ListCoach">@Html.DisplayFor(modelItem => coach.Fname) @Html.DisplayFor(modelItem => coach.Lname)</a>
                    &nbsp;
                </td>
               }}

            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Duration)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Eventdatetime)
            </td>
            <td>
                @if (item.Eventdatetime > DateTime.Now)
                {
        @if (ViewBag.Role != "Coach" && ViewBag.Role != "Admin")
        {

            if (Model.Enrolments.Any())
            {
                if (ViewBag.Enroled.Contains(item.Id))
                {
                     <button class="btn btn-danger"><a style="text-decoration:none;color:white;" asp-action="UnEnrol" asp-route-id="@item.Id">UnEnrol</a></button> }
                else
                {
                    <button class="btn btn-primary"><a style="text-decoration:none;color:white;" asp-action="Enrol" asp-route-id="@item.Id">Enrol</a></button> }
                    }
                    else
                    {
                        <button class="btn btn-primary"><a style="text-decoration:none;color:white;" asp-action="Enrol" asp-route-id="@item.Id">Enrol</a></button> }
                    }
                    else if (ViewBag.Role == "Admin")
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit |</a>
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                    }
                    else
                    {
                <button class="btn btn-primary"><a style="text-decoration:none;color:white;" asp-action="Details" asp-route-id="@item.Id">Schedule Details</a></button>} }
            else
            {
                <p><span class="btn-outline-danger">Event has passed</span></p>}
                    </td>
                </tr>
            }
    </tbody>
</table>
